

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    height: 1750px;
    /* font-family: Arial, Helvetica, sans-serif;
    font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background: rgb(186,137,159);
    background: radial-gradient(circle, rgba(186,137,159,1) 0%, rgba(57,71,87,1) 100%); 
    background: -webkit-radial-gradient(circle, rgba(186,137,159,1) 0%, rgba(57,71,87,1) 100%); */
    background-color: rgba(57,71,87,.7);
    background-color: rgba(39, 49, 59, 0.9);
    overflow: auto;
}

.main-container {
    height: 100%;
    /* background-color: rgba(40, 50, 56, .8); */
    display: flex;
    flex-direction: column;
    /* padding: 25px; */
}

.header {
    flex: .25;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.521);
}

main {
    flex: 2.75;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 10px;
    /* background: rgba(186,137,159, .3);
    background: rgba(89, 189, 255, .5);
    background: linear-gradient(circle, rgba(89, 189, 255, 1) 0%, rgba(57,71,87,1) 100%);
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.6); */
}



.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex: .85;
    /* background-color: rgba(205, 221, 223, .2); */
    border-radius: 10px;
}

.display {
    display: none;
}

.title-container{
  flex: 1;
  /* background-color: white; */
  /* height: 100%; */
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
}



#city {
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: .8px;
    color: white;
}

.info {
    flex: 2;
}

.searchbar-fc-container {
  /* background-color: rgb(67, 87, 105); */
  display: flex;
  /* justify-content: space-between; */
}

.search-bar {
    flex: .75;
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    /* background-color: black; */
}

.FC-container {
    flex: .25;
    display: flex;
    /* align-items: center; */
    justify-content: flex-end;
}

#switch-temp-type {
    background-color: rgba(57,71,87,1);
    transition: all .4s ease-in; 
    width: 50%;
    border-radius: 7px;
}

#switch-temp-type:hover {
    background-color: rgb(99, 158, 197);
    /* box-shadow: 0 3px 6px rgb(0 0 0 / 0.5); */
}

#switch-temp-type:focus {
    background-color: rgba(57,71,87,.4);
}

.switch-container {
    flex: .25;
    /* height: 100%; */
    display: flex;
    /* align-items: center; */
    justify-content: flex-end;
}

#weather-title {
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: .9px;
    color: white;
}

.data-color {
    color: rgb(89, 189, 255);
}

.text {
    color: black;
    font-size: 1.25rem;
}


#form {
  display: flex;
  /* background-color: yellowgreen; */
  /* width: 100%;
  height: 100%; */
  /* gap: 0 15px; */
}

#city-container {
    flex: .15;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(57,71,87,.5);
    padding: 20px;
    display: flex;
    flex-direction: column;

    /* box-shadow: 0 5px 10px rgb(0 0 0 / 0.6); */
}

/* #imgIcon {

} */


#cityIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.city-icon-container {
    flex: .5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

img {
  /* width: 100%;
  height: 100%; */
  /* flex: 1; */
  /* width: 45px;
  height: 45px; */
  image-resolution: 100%;
}

#weather, #weather-descrip {
  color: white;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: .8px;
}

.weather-descrip {
  flex: .5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: beige; */
}


.forecast-container {
  flex: .25;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  /* gap: 12px; */
  width: 100%;
  /* background-color: rgb(205, 221, 223); */
  background-color: rgba(57,71,87,.5);
  /* box-shadow: 0 5px 10px rgb(0 0 0 / 0.6); */
  border-radius: 10px;
  gap: 10px;
  padding: 10px;
  /* padding: 25px 0; */

  /* box-shadow: 0 5px 10px rgb(0 0 0 / 0.6); */
}

#forecast-title {
  flex: .3;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: .8px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#forecast-container {
  flex: .7;
  display: grid;
  background-color: rgba(57,71,87,.3);
  border-radius: 10px;
  padding: 10px;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-rows: auto auto;
  gap: 10px;
}

.forecastDay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(72, 116, 145, 0.4);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.info-container {
  flex: .6;
  display: grid;
  width: 100%;
  background-color: rgba(57,71,87,.7);
  border-radius: 10px;
  padding: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  padding: 10px;
  gap: 10px;

  /* box-shadow: 0 5px 10px rgb(0 0 0 / 0.6); */
}

#temp-span {
  font-size: 1.75rem;
}

/* #weather {
  font-size: 1.75rem;
  font-weight: 300;
  letter-spacing: .8px;
} */

.info-box {
  background-color: rgba(72, 116, 145, 0.3);
  border-radius: 10px;
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25%;
}

.city-valid {
  color: white;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: .8px;
}








.lds-default {
  display: inline-block;
  position: relative;
  align-self: center;
  width: 40px;
  height: 40px;
}
.lds-default div {
  position: absolute;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}





















.ripple {
  display: inline-block;
  position: relative;
  /* justify-self: center; */
  align-self: center;
  width: 80px;
  height: 80px;
}
.ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

input {
border: none;
border-radius: 7px;
padding: 8px;
width: 75%;
height: 34px;
margin-right: 15px;
background-color: rgba(255, 255, 255, .8);
color: rgba(57,71,87,.8);
/* border: 2px solid rgb(57,71,87); */
} 


::-webkit-input-placeholder {
color: rgba(57,71,87,.9);
}

input::placeholder {
color: rgba(57,71,87,.9);
/* font-size: 1rem; */
/* font-size: 12px; */
}

/* input:focus {
border: 1px solid rgba(57,71,87,.9);;
} */

button {
padding: 7px;
border: none;
border-radius: 7px;
background-color: rgb(99, 158, 197);
color: white;
width: 25%;
height: 34px;
}





