

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    height: 100%;
    /* font-family: Arial, Helvetica, sans-serif;
    font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(186,137,159);
    background: radial-gradient(circle, rgba(186,137,159,1) 0%, rgba(57,71,87,1) 100%); 
    background: -webkit-radial-gradient(circle, rgba(186,137,159,1) 0%, rgba(57,71,87,1) 100%);
    background-color: rgba(57,71,87,.9);
}

.main-container {
    height: 100%;
    /* background-color: rgba(40, 50, 56, .8); */
    display: flex;
    flex-direction: column;
    /* padding: 25px; */
}

.header {
    flex: .25;
    display: flex;
    width: 100%;
    padding: 25px;
}

main {
    flex: 2.75;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 10px;
}




.ripple {
    display: inline-block;
    position: relative;
    
    width: 80px;
    height: 80px;
  }
  .ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  



/* input:invalid {
    border: 2px dashed red;
  }
  
input:valid {
border: 2px solid black;
} */


input {
  border: none;
  border-radius: 7px;
  padding: 8px;
  width: 75%;
  height: 34px;
  margin-right: 15px;
  background-color: rgba(255, 255, 255, .8);
  color: rgba(57,71,87,.8);
  /* border: 2px solid rgb(57,71,87); */
} 

::-webkit-input-placeholder {
  color: rgba(57,71,87,.9);
}

input::placeholder {
  color: rgba(57,71,87,.9);
  /* font-size: 1rem; */
  /* font-size: 12px; */
}

/* input:focus {
  border: 1px solid rgba(57,71,87,.9);;
} */

button {
  padding: 7px;
  border: none;
  border-radius: 5px;
  background-color: rgb(99, 158, 197);
  color: white;
  width: 25%;
  height: 34px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: .75;
    /* background-color: rgba(205, 221, 223, .2); */
    /* background: rgba(186,137,159, .3);
    background: radial-gradient(circle, rgba(186,137,159,1) 0%, rgba(57,71,87,1) 100%);
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.6); */
    border-radius: 10px;
}

.display {
    display: none;
}



#city {
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: .8px;
    color: white;
}

/* #iconSVG {
    background: url(./amcharts_weather_icons_1.0.0/animated/rainy-3.svg);
} */



#switch {
    width: 60px;
}


/* .loader {
    flex: .25;
} */


.info {
    flex: 2;
}

/*switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

.title-container{
    flex: 1;
    /* background-color: white; */
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search-bar {
    flex: .75;
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    /* background-color: black; */
}

.FC-container {
    flex: .25;
    display: flex;
    /* align-items: center; */
    justify-content: flex-end;
}

#switch-temp-type {
    background-color: rgba(57,71,87,.4);
    transition: all .4s ease-in; 
    width: 50%;
}

#switch-temp-type:hover {
    background-color: rgb(99, 158, 197);
    /* box-shadow: 0 3px 6px rgb(0 0 0 / 0.5); */
}

#switch-temp-type:focus {
    background-color: rgba(57,71,87,.4);
}

.switch-container {
    flex: .25;
    /* height: 100%; */
    display: flex;
    /* align-items: center; */
    justify-content: flex-end;
}

#weather-title {
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: .9px;
    color: white;
}

.data-color {
    color: rgb(89, 189, 255);
}

.text {
    color: black;
    font-size: 1.25rem;
}


#form {
  display: flex;
  /* background-color: yellowgreen; */
  /* width: 100%;
  height: 100%; */
  /* gap: 0 15px; */
}

.city-container {
    flex: .25;
    width: 100%;
    /* background-color: rgb(205, 221, 223); 
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.6); */
    /* background: rgb(186,137,159);
    background: radial-gradient(circle, rgba(186,137,159,1) 0%, rgba(57,71,87,1) 100%);  */
    /* background-color: rgba(57,71,87,.8); */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 25px; */
    /* color: white; */
}


#cityIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.forecast-container {
    flex: .25;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
    /* background-color: rgb(205, 221, 223); */
    background-color: rgba(57,71,87,.6);
    /* box-shadow: 0 5px 10px rgb(0 0 0 / 0.6); */
    border-radius: 10px;
}

.info-container {
    flex: .75;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
    /* background-color: rgb(205, 221, 223); */
    background-color: rgba(57,71,87,.4);
    /* box-shadow: 0 5px 10px rgb(0 0 0 / 0.6); */
    border-radius: 10px;
}

#weather {
  font-size: 1.75rem;
  font-weight: 300;
  letter-spacing: .8px;
  /* color: white; */
}
  