* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: auto;
}

body {
  height: 100%;
  background-color: rgba(39, 49, 59, 0.9); 
}

.main-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
}

header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.514);
  border-radius: 10px;
  gap: 25px;
}

main {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex: .85;
    border-radius: 10px;
}

.display {
    display: none;
}

.title-container{
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#weather-title {
  font-size: 1.75rem;
  /* font-size: 100%; */
  font-weight: 300;
  letter-spacing: .7px;
  color: white;
}

.date-container {
  color: white;
  letter-spacing: .7px;
  font-weight: 300;
  font-size: .75rem;
  /* font-size: 100%; */
}



#city {
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: .8px;
    color: white;
}

.info {
    flex: 2;
}

.searchbar-fc-container {
  /* background-color: rgb(67, 87, 105); */
  display: flex;
  /* justify-content: space-between; */
}

.search-bar {
    flex: .75;
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    /* background-color: black; */
}

.FC-container {
    flex: .25;
    display: flex;
    /* align-items: center; */
    justify-content: flex-end;
}

#switch-temp-type {
    background-color: rgba(57,71,87,1);
    transition: all .4s ease-in; 
    width: 50%;
    border-radius: 7px;
}

#switch-temp-type:hover {
    background-color: rgb(99, 158, 197);
    /* box-shadow: 0 3px 6px rgb(0 0 0 / 0.5); */
}

#switch-temp-type:focus {
    background-color: rgba(57,71,87,.4);
}

.switch-container {
    flex: .25;
    /* height: 100%; */
    display: flex;
    /* align-items: center; */
    justify-content: flex-end;
}

.data-color {
    color: rgb(89, 189, 255);
}

.text {
    color: black;
    font-size: 1.25rem;
}


#form {
  display: flex;
}

.city-container {
    flex: .25;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.418);
}

#cityIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.city-icon-container {
    flex: .5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

img {
  image-resolution: 100%;
}

#weather, #weather-descrip {
  color: white;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: .8px;
}

.weather-descrip {
  flex: .5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.forecast-container, .info-container {
  flex: .25;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.418);
  border-radius: 10px;
  gap: 10px;
  padding: 10px;
}

#forecast-title {
  flex: .4;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: .8px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #forecast-container {
  flex: .6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(57,71,87,.3);
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
}

.forecastDay {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(72, 116, 145, 0.4);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
} */

#forecast-container, #info-container {
  flex: .6;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.218);
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
}

#temp-span {
  font-size: 1.75rem;
}

/* #weather {
  font-size: 1.75rem;
  font-weight: 300;
  letter-spacing: .8px;
} */

/* .info-container {
  background-color: rgba(0, 0, 0, 0.318);
  flex: .5;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
} */

.info-container {
  flex: .5;
}

#info-container {
  flex: 1;
}

.info-box, .forecastDay {
  background-color: rgba(72, 116, 145, 0.3);
  border-radius: 10px;
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: 1;
}


.city-valid {
  color: white;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: .8px;
}




.ripple {
  display: inline-block;
  position: relative;
  justify-self: center;
  align-self: center;
  top: 250px;
  width: 80px;
  height: 80px;
}
.ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

input {
border: none;
border-radius: 7px;
padding: 8px;
width: 75%;
height: 34px;
margin-right: 15px;
background-color: rgba(255, 255, 255, .8);
color: rgba(57,71,87,.8);
/* border: 2px solid rgb(57,71,87); */
} 


::-webkit-input-placeholder {
color: rgba(57,71,87,.9);
}

input::placeholder {
color: rgba(57,71,87,.9);
/* font-size: 1rem; */
/* font-size: 12px; */
}

/* input:focus {
border: 1px solid rgba(57,71,87,.9);;
} */

button {
padding: 7px;
border: none;
border-radius: 7px;
background-color: rgb(99, 158, 197);
color: white;
width: 25%;
height: 34px;
}





